blockquote p {
  background: #f9f9f9;
  font-size: 16px;
  border-left: 10px solid #ccc;
  margin: 10px;
  padding: 10px;
}

ul,ol li { margin: 5pt 5px; }

p { text-indent: 0px; }
p + p { text-indent: 5mm; }
